.cover {
  position: relative;
  z-index: -1;
  max-width: 1440px;
  min-height: 757px;
  margin: auto;
  padding: 165px 50px 0 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.cover__content {
  display: grid;
  grid-template-rows: 355px 52px;
  align-content: end;
  gap: 135px;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  opacity: 0.6;
  background-color: black;
}

.description-text {
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.blocked-span {
  display: block;
  line-height: 122px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  position: relative;
  left: 30px;
  text-align: right;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extend {
  letter-spacing: 60px;
}

.bet-button {
  min-width: 257px;
  border: 1px solid #fff;
  padding: 12px 32px 12px 32px;
  color: #fff;
  font-family: Raleway, serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}