.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  margin: 92px auto;
  font-weight: 400;
  font-size: 18px;
  background-color: white;
}

.menu {
  box-sizing: border-box;
  max-width: 388px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: circle;
}

.logo{
  display: block;
  max-width: 135px;
  max-height: 110px;
  margin: auto;
}

.address {
  justify-self: end;
  max-width: 204px;
  max-width: 240px;
  font-style: normal;
  line-height: 24px;
}