.lots {
  max-width: 1340px;
  margin: 180px auto;
}

.lots__title {
  margin: 0 0 27px 0;
  padding: 0 0 0 40px;
  color: black;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__cards {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 52px 40px;
  color: #fff;
  font-size: 20px;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__info {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
}

.more {
  margin: 0 0 0 40px;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 20px;
}