.cover {
  position: relative;
  max-width: 1440px;
  margin: auto;
  height: 757px;
}

.cover__wrapper {
  display: block;
}

.cover__title {
  position: absolute;
  z-index: 1;
  width: 100%;
  min-width: 1100px;
  margin: 165px auto;
  padding: 0 50px 0 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.cover__image {
  position: relative;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}

.cover__image-pic {
  position: relative;
  top: 0;
  left: 0;
  background-size: contain;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  background-color: rgba( 0, 0, 0, 0.6);
}

.cover__description {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  width: 100%;
  margin: 655px auto;
  padding: 0 50px 0 0;
}

.description-text {
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.blocked-span {
  display: block;
  line-height: 122px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin: 0 -30px 0 0;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extend {
  letter-spacing: 60px;
}

.btn {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgba(28,28,28,0);
}